@{
    ViewBag.Title = "Home Page";
}

<div class="section" ng-app="myApp" ng-controller="appController" ng-cloak>
    <div class="section no-pad-bot" id="index-banner">
        <!-- Dropdown Trigger -->
        <div class="right-align">
            <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Refresh Rate </a>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li ng-repeat="prop in props" ng-click="setSelected(prop)" ng-class="{selected: prop == selectedprop}" ng-cloak="">{{prop.label}}</li>
            </ul>
            <br/><br/>
                 <b>Selected RefreshRate:</b>  {{selectedprop.label}}
        </div>
        

        <div class="container">
            <br><br>
            <h1 class="header center orange-text">{{greeting}}</h1>
            <div class="row center">
                <h5 class="header col s12 light">Below are the order lifecycle and the counts as orders go through each bucket.</h5>
            </div>
            <br><br>
        </div>
    </div>
    <!--   Icon Section   -->
    <div class="row">
        <div class="col s12 m3">
            <div class="card grey lighten-3">
                <div class="card-content black-text">
                    <span class="card-title center-align">Order Recieved</span>
                    <h1 class="center-align">{{OrderCreated}}</h1>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card grey lighten-3">
                <div class="card-content black-text">
                    <span class="card-title center-align">Order Fulfilled</span>
                    <h1 class="center-align">{{OrderFullfilled}}</h1>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card grey lighten-3">
                <div class="card-content black-text">
                    <span class="card-title center-align">Ready for Shipment</span>
                    <h1 class="center-align">{{ReadyForShipment}}</h1>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card grey lighten-3">
                <div class="card-content black-text">
                    <span class="card-title center-align">Order Shipped</span>
                    <h1 class="center-align">{{OrderShipped}}</h1>
                </div>
            </div>
        </div>
    </div>

</div>
<br><br>